/* doc directories */

table.`directory {
	/*border: 1px solid #ccc!important;*/
	table-layout: fixed;
	border-collapse: collapse;
}

.doc-directory tr {
	padding-left: 1em!important;
	border-top: 1px solid #ccc!important;
	border-bottom: 1px solid #ccc!important;
}

.doc-directory td {
	padding: 0.25em 0.5em;
}
.directory-child td {
	padding-left: 2em!important;
}

.directory-child td+td {
	position: relative;
	left: -1.5em!important;
	padding-right: 0;
}

.doc-directory tr[aria-expanded=true] td.pkg-name:before {
	content: "\2193";
}
.doc-directory tr[aria-expanded=false] td.pkg-name:before {
	content: "\2192"!important;
}

.doc-directory tr[aria-hidden=true] {
	display: none;
}


/* doc page */

pre.doc-code {
	white-space: pre-wrap;
	word-break: keep-all;
	word-wrap: break-word;
	tab-size: 8;
	background-color: #f8f8f8;
	color: #202224;
	border: 1px solid #c6c8ca;
	border-radius: 0.25rem;
	padding: 0.625rem;
}
pre.doc-code a {
	font-family: Consolas,Liberation Mono,Menlo,monospace!important;
	text-decoration: none;
	color: #2179d8;
	font-weight: 800;
}

pre.doc-code a.code-procedure {
	color: #047919;
}

.pkg-line-doc {
	color: #444;
}


.doc-source {
	display: inline;
	float: right;
}

.doc-source a {
	text-decoration: none;
	color: #666666;
	font-size: 0.75em;
}
.doc-source a:hover {
	text-decoration: underline;
}

a > .a-hidden {
	opacity: 0;
}
a:hover > .a-hidden {
	opacity: 100;
}
section.documentation h3 {
	font-size: calc(1.1rem + .2vw);
}

.pkg-index h3 {
	margin-top: 0  !important;
	padding-top: 0 !important;
}


.documentation .pkg-entity {
	padding-bottom: 0.75rem;
	border-bottom: 1px solid #d0d0d0;
}

details.doc-index > summary {
	position: relative;
	font-size: 1.75rem;
	left: -1.75rem;
}
details.doc-index ul {
	list-style-type: none;
}

details.odin-doc-toggle > summary.hideme span:before {
	content: "Expand description";
}
details.odin-doc-toggle[open] > summary.hideme span:before {
	content: "Close description";
	opacity: 0.8;
}

details.odin-doc-toggle[open] > summary.hideme {
	margin-bottom: 0.5em;
}

details.code-example > summary {
	font-weight: 700;
}