name: CI
on: [push, pull_request]

jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Download LLVM
        run: sudo apt-get install llvm-12.0.1 clang-12.0.1 llvm
      - name: build odin
        run: make release
      - name: Odin run
        run: ./odin run examples/demo/demo.odin
      - name: Odin check
        run: ./odin check examples/demo/demo.odin -vet
      - name: Odin version
        run: ./odin version
  build_macOS:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Download LLVM and setup PATH
        run: |
          brew install llvm@12.0.1
          echo "/usr/local/opt/llvm@12.0.1/bin" >> $GITHUB_PATH
          TMP_PATH=$(xcrun --show-sdk-path)/user/include
          echo "CPATH=$TMP_PATH" >> $GITHUB_ENV
      - name: build odin
        run: make release
      - name: Odin run
        run: ./odin run examples/demo/demo.odin
      - name: Odin check
        run: ./odin check examples/demo/demo.odin -vet
      - name: Odin version
        run: ./odin version
  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: build Odin
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat
          ./build.bat 1
      - name: Odin run
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat
          odin run examples/demo/demo.odin
      - name: Odin check
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat
          odin check examples/demo/demo.odin -vet
      - name: Odin version
        run: ./odin version


